/MatrixCalculator/MatrixCalculator.pro.user
/MatrixCalculator/MatrixCalculator.pro

/.idea/
/MatrixCalculator/.idea/
/build-MatrixCalculator-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/
/build-MatrixCalculator-Desktop_Qt_5_15_2_MinGW_64_bit-Release/
/build-MatrixCalculator-Desktop_Qt_5_15_2_MinGW_64_bit-Profile/